services:
  devices-api:
    container_name: devices-api
    build:
      context: devices-api
    ports:
      - "8080:8080"
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      # according to the doc otlp is default value but after testing this env var seems to be necessary
      OTEL_LOGS_EXPORTER: otlp
      COSMOS_DB_URI: ${COSMOS_DB_URI}
      COSMOS_DB_KEY: ${COSMOS_DB_KEY}
      COSMOS_DB_NAME: ${COSMOS_DB_NAME}

  devices-manager:
    container_name: devices-manager
    depends_on:
      - devices-api
    build:
      context: devices-manager/DevicesManager
      dockerfile: Dockerfile
    env_file:
      - otel-dotnet.env # enable OpenTelemetry .NET Automatic Instrumentation
    ports:
      - "8090:8090"
    environment:
      OTEL_SERVICE_NAME: "devices-manager"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4318"
      DEVICE_API_URL: "http://devices-api:8080"
      EVENT_HUB_CONNECTION_STRING: ${EVENT_HUB_LISTEN_POLICY_CONNECTION_STRING}
      EVENT_HUB_NAME: ${EVENT_HUB_NAME}
      STORAGE_CONNECTION_STRING: ${STORAGE_CONNECTION_STRING}
      BLOB_CONTAINER_NAME: ${BLOB_CONTAINER_NAME}
      CONSUMER_GROUP: "DevicesManager"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: [ "--config=/etc/otelcol-config.yml" ]
    volumes:
      - ./otel-collector/otelcol-config.yml:/etc/otelcol-config.yml

  devices-simulator:
    container_name: devices-simulator
    image: mcr.microsoft.com/oss/azure-samples/azureiot-telemetrysimulator
    environment:
      EventHubConnectionString: ${EVENT_HUB_SEND_POLICY_CONNECTION_STRING}
      DeviceList: ${DEVICE_NAMES}
      MessageCount: 0 # send unlimited
      Interval: 60000 # each device sends message every 1 minute
      Template: '{"deviceId": "$.DeviceId", "deviceTimestamp": "$.Time", "temp": $.DoubleValue}'
      Variables: '[{"name": "DoubleValue", "randomDouble":true, "min":20.00, "max":28.00}]'
