services:
  devices-api:
    container_name: devices-api
    build:
      context: devices-api
    ports:
      - "8080:8080"
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      # according to the doc otlp is default value but after testing this env var seems to be necessary
      OTEL_LOGS_EXPORTER: otlp

  device-manager:
    container_name: device-manager
    build:
      context: device-manager/DeviceManager
      dockerfile: Dockerfile
    ports:
      - "8090:8090"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: [ "--config=/etc/otelcol-config.yml" ]
    volumes:
      - ./otel-collector/otelcol-config.yml:/etc/otelcol-config.yml

  device-telemetry-simulator:
    container_name: device-telemetry-simulator
    image: mcr.microsoft.com/oss/azure-samples/azureiot-telemetrysimulator
    environment:
      EventHubConnectionString: ${EVENT_HUB_CONNECTION_STRING}
      DeviceList: 'device-01,device-42' # Specify your device names
      MessageCount: 0 # send unlimited
      Interval: 1000
      Template: '{"deviceId": "$.DeviceId", "deviceTimestamp": "$.Time", "temp": $.DoubleValue}'
      Variables: '[{"name": "DoubleValue", "randomDouble":true, "min":20.00, "max":28.00}]'
